<!--Country: {{ country }}; IncrementalID: {% increment incrementalID %}-->
<div class="dropdown-menu subscription-links" aria-labelledby="subscriptionDropdown">
  <a title="Apple Podcasts" href="{% if country == 'CN' %}https://podcasts.apple.com/cn/podcast/id1520154407{% else %}https://podcasts.apple.com/podcast/id1479918340{% endif %}" class="dropdown-item" rel="noopener noreferrer" target="_blank">
    <img src="/images/platforms/apple_podcasts.png" srcset="/images/platforms/apple_podcasts.png 1x, /images/platforms/apple_podcasts@2x.png 2x" alt="Apple Podcasts Logo" height="24" width="24" class="align-top" class="align-top">
    Apple Podcasts
  </a>
  <a title="Overcast" href="https://overcast.fm/itunes1479918340/avocado-toast" class="dropdown-item" rel="noopener noreferrer" target="_blank">
    <img src="/images/platforms/overcast.png" srcset="/images/platforms/overcast.png 1x, /images/platforms/overcast@2x.png 2x" alt="Overcast Logo" height="24" width="24" class="align-top">
    Overcast
  </a>
  <a title="Spotify" href="https://open.spotify.com/show/3royq81yR8oRcdC0KxXBhY" class="dropdown-item" rel="noopener noreferrer" target="_blank">
    <img src="/images/platforms/spotify.png" srcset="/images/platforms/spotify.png 1x, /images/platforms/spotify@2x.png 2x" alt="Spotify Logo" height="24" width="24" class="align-top">
    Spotify
  </a>
  <a title="Pocket Casts" href="https://pca.st/xvtd6yu4" class="dropdown-item" rel="noopener noreferrer" target="_blank">
    <img src="/images/platforms/pocket_casts.png" srcset="/images/platforms/pocket_casts.png 1x, /images/platforms/pocket_casts@2x.png 2x" alt="Pocket Casts Logo" height="24" width="24" class="align-top">
    Pocket Casts
  </a>
  <a title="Castro" href="https://castro.fm/itunes/1479918340" class="dropdown-item" rel="noopener noreferrer" target="_blank">
    <svg width="24" height="24" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="linearGradient-1-{{ incrementalID }}">
                <stop stop-color="#00CCBF" offset="0%"></stop>
                <stop stop-color="#00B265" offset="100%"></stop>
            </linearGradient>
            <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="linearGradient-2-{{ incrementalID }}">
                <stop stop-color="#151515" offset="0%"></stop>
                <stop stop-color="#353535" offset="100%"></stop>
            </linearGradient>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="c2icon-copy">
                <path d="M11.8538809,6.640625e-05 L22.1461191,6.640625e-05 C25.5594004,6.640625e-05 27.2659082,6.640625e-05 29.1031699,0.580955078 C31.1089375,1.31102539 32.6889746,2.8910625 33.4191113,4.89689648 C33.9999336,6.73402539 33.9999336,8.44059961 33.9999336,11.8538809 L33.9999336,22.1461191 C33.9999336,25.5594004 33.9999336,27.2659082 33.4191113,29.1031699 C32.6889746,31.1089375 31.1089375,32.6889746 29.1031699,33.4189785 C27.2659082,33.9999336 25.5594004,33.9999336 22.1461191,33.9999336 L11.8538809,33.9999336 C8.44059961,33.9999336 6.73402539,33.9999336 4.89689648,33.4189785 C2.8910625,32.6889746 1.31102539,31.1089375 0.580955078,29.1031699 C6.640625e-05,27.2659082 6.640625e-05,25.5594004 6.640625e-05,22.1461191 L6.640625e-05,11.8538809 C6.640625e-05,8.44059961 6.640625e-05,6.73402539 0.580955078,4.89689648 C1.31102539,2.8910625 2.8910625,1.31102539 4.89689648,0.580955078 C6.73402539,6.640625e-05 8.44059961,6.640625e-05 11.8538809,6.640625e-05 L11.8538809,6.640625e-05" id="path-1" fill="url(#linearGradient-1-{{ incrementalID }})"></path>
                <path d="M17.0166016,2.22460938 C25.185998,2.22460938 31.8085937,8.84069727 31.8085937,17.0020586 C31.8085937,25.1634531 25.185998,31.779541 17.0166016,31.779541 C8.84720508,31.779541 2.22460938,25.1634531 2.2246093