<!--Country: {{ country }}; IncrementalID: {% increment incrementalID %}-->
<div class="dropdown-menu subscription-links" aria-labelledby="subscriptionDropdown">
  <a title="Apple Podcasts" href="{% if country == 'CN' %}https://podcasts.apple.com/cn/podcast/id1520154407{% else %}https://podcasts.apple.com/podcast/id1479918340{% endif %}" class="dropdown-item" rel="noopener noreferrer" target="_blank">
    <img src="/images/platforms/apple_podcasts.png" srcset="/images/platforms/apple_podcasts.png 1x, /images/platforms/apple_podcasts@2x.png 2x" alt="Apple Podcasts Logo" height="24" width="24" class="align-top" class="align-top">
    Apple Podcasts
  </a>
  <a title="Overcast" href="https://overcast.fm/itunes1479918340/avocado-toast" class="dropdown-item" rel="noopener noreferrer" target="_blank">
    <img src="/images/platforms/overcast.png" srcset="/images/platforms/overcast.png 1x, /images/platforms/overcast@2x.png 2x" alt="Overcast Logo" height="24" width="24" class="align-top">
    Overcast
  </a>
  <a title="Spotify" href="https://open.spotify.com/show/3royq81yR8oRcdC0KxXBhY" class="dropdown-item" rel="noopener noreferrer" target="_blank">
    <img src="/images/platforms/spotify.png" srcset="/images/platforms/spotify.png 1x, /images/platforms/spotify@2x.png 2x" alt="Spotify Logo" height="24" width="24" class="align-top">
    Spotify
  </a>
  <a title="Pocket Casts" href="https://pca.st/xvtd6yu4" class="dropdown-item" rel="noopener noreferrer" target="_blank">
    <img src="/images/platforms/pocket_casts.png" srcset="/images/platforms/pocket_casts.png 1x, /images/platforms/pocket_casts@2x.png 2x" alt="Pocket Casts Logo" height="24" width="24" class="align-top">
    Pocket Casts
  </a>
  <a title="Castro" href="https://castro.fm/itunes/1479918340" class="dropdown-item" rel="noopener noreferrer" target="_blank">
    <svg width="24" height="24" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="linearGradient-1-{{ incrementalID }}">
                <stop stop-color="#00CCBF" offset="0%"></stop>
                <stop stop-color="#00B265" offset="100%"></stop>
            </linearGradient>
            <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="linearGradient-2-{{ incrementalID }}">
                <stop stop-color="#151515" offset="0%"></stop>
                <stop stop-color="#353535" offset="100%"></stop>
            </linearGradient>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="c2icon-copy">
                <path d="M11.8538809,6.640625e-05 L22.1461191,6.640625e-05 C25.5594004,6.640625e-05 27.2659082,6.640625e-05 29.1031699,0.580955078 C31.1089375,1.31102539 32.6889746,2.8910625 33.4191113,4